header {
    width: 100%;
    background-color: #2e0f15;
    padding: 10px; /* Ajusta según sea necesario */
}


.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%; 
    padding: 10px; 
}

.links{
    margin: 1rem;
}

h1{
    color: #ececec;
}
