@import "../utilities/variables";
@import "../componentes/lists";



.main_carrera{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto; 

    .titulos_carrera{
        display: nth($display , 1 );
        justify-content: center;
        align-items: center;
        padding-top: 4rem;

        .titulo_1_carrera{
            color: nth($paleta_colores , 1 );
            font-size: 5vh;
        }

        .titulo_2_carrera{
            color: nth($paleta_colores , 5 );
            font-size: 5.3vh;
        }
    }

    .container_productos{
        display: nth($display, 2 );
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 6rem;
        .producto{
            background-color: nth($paleta_colores, 1 );
            max-width:34.1%;
            border-radius: 5%;
            .btn_carrito{
                padding: .40vh;
            }
        }
    }

    .container_carrito{
        .h2{
            color: nth($paleta_colores, 3 );
        }
    }
}

@media screen and (min-width: 768px){
    .main_carrera{

        .titulos_carrera{

            .titulo_1_carrera{
                color: nth($paleta_colores , 1 );
                font-size: 6.5vh;
            }

            .titulo_2_carrera{
                color: nth($paleta_colores , 5 );
                font-size: 6.8vh;
            }
        }
    }
}