@import "../utilities/variables";
@import "../componentes/lists";

.main_carrera {

    .titulos_carrera {
        display: nth($display , 1 );
        justify-content: center;
        align-items: center;
        padding-top: 4rem;
        margin-bottom: 4rem;
        

        .titulo_1_carrera {
            color: nth($paleta_colores , 1 );
            font-size: 5vh;
        }

        .titulo_2_carrera {
            color: nth($paleta_colores , 5 );
            font-size: 5.3vh;
        }
    }

    .container_productos {
        padding: 0vh 25vh 0vh 25vh;
        display: nth($display, 2 );
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        .producto {
            background-color: nth($paleta_colores, 1 );
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            img {
                width: 100%;
                border-radius: 10px;
            }

            h3, p {
                margin: 10px 0;
                color: nth($paleta_colores, 3);
            }
            .producto_data{
                color: nth($paleta_colores , 7 );
            }
            .btn_carrito {
                display: block;
                width: 100%;
                padding: 10px;
                border: none;
                background-color: nth($paleta_colores, 5);
                color: white;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.6s ease;

                &:hover {
                    background-color: darken(nth($paleta_colores, 5), 10%);
                }
            }
        }
    }

    .container_carrito {
        display: nth($display, 2);
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto auto auto;
        color: nth($paleta_colores , 2 );
        margin: 2.5rem;
        font-size: 1.2rem;
    }
    
    .carrito_producto {
        
        margin-bottom: 2rem;
        padding: 1.5rem;
        background-color: nth($paleta_colores , 7 ); 
        max-width: 70%;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
        h2 {
            margin-bottom: 1rem;
            color: nth($paleta_colores , 3 );
            font-size: 1.8rem; 
        }
    
        p {
            margin-bottom: 1.5rem;
            color: #e5d7d7;
            font-size: 1.1rem; 
        }
    
        .btn_producto {
            font-size: 1rem;
            background-color: #cc0000; 
            color: #fff;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.6s ease;
    
            &:hover {
                background-color: #b31605bb; 
            }
    
            &:focus {
                outline: none;
                box-shadow: 0 0 0 3px rgba(108, 117, 125, 0.5); 
            }
    
            &:active {
                transform: translateY(1px);
                box-shadow: none;
            }
        }
    }
    

    .carrito_total {
        font-size: 2.5rem;
        margin-left: 2.5rem;
        margin-bottom: 2rem;
        color: nth($paleta_colores, 1);
    }
}

@media screen and (min-width: 768px){
    .main_carrera{

        .titulos_carrera{

            .titulo_1_carrera{
                color: nth($paleta_colores , 1 );
                font-size: 6.5vh;
            }

            .titulo_2_carrera{
                color: nth($paleta_colores , 5 );
                font-size: 6.8vh;
            }
        }
    }
}